/* md */
@media screen and (min-width: 1024px) and (max-width: 1239.98px) {
    .comments {
        margin-left: 48px;
        margin-right: 48px;
    }
}


/* xs */
@media screen and (max-width: 767.98px) {
    .comments {

        max-width: 600px;

    }
}