@import url(_kamchatka/video__item_kamchatka.css);
@import url(_observatory/video__item_observatory.css);

.video__item {


    width: calc(50% - 9px);

    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    line-height: 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;

}

/* sm */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .video__item {
        max-width: 352px;

    }
}






/* xs */
@media screen and (max-width: 767.98px) {
    .video__item {
        width: 100%;
        margin-bottom: 8px;
        max-width: 350px;
    }
}