.video__item_kamchatka {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.5)),
        url(../_kamchatka/kamchatka.jpg);
    background-size: cover;

}

/* sm */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .video__item_kamchatka {
        margin-right: 4.5px;

    }
}