.video__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;




}

.video__info:hover {
    transition: all 1s;
    background-color: rgba(0, 0, 0, 0.5);
}


/* sm */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .video__info {
        margin-left: 24px;
        margin-bottom: 0;
    }
}

/* xs */
@media screen and (max-width: 767.98px) {
    .video__info {
        left: 16px;
        bottom: 16px;
    }
}