@import url(__link/footer__link.css);
@import url(__copyright/footer__copyright.css);
@import url(__nav/footer__nav.css);
@import url(__link-column/footer__link-column.css);

.footer {
    display: flex;
    max-width: 1184px;
    margin: 0 auto 48px;
}








/* xs */
@media screen and (max-width: 767.98px) {
    .footer {
        max-width: 600px;
        flex-wrap: wrap;
        margin: 0 auto 48px;
        padding-left: 16px;
        flex-direction: column;
    }
}


/* md */
@media screen and (min-width: 1024px) and (max-width: 1239.98px) {
    .footer {
        width: auto;
        margin-left: 48px;
        margin-right: 48px;
    }
}

/* sm */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .footer {
        width: auto;
        margin-left: 24px;
        margin-right: 24px;
    }
}