.video__item_observatory {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.5)),
        url(../_observatory/observatory.jpg);
    background-size: cover;

}

/* sm */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .video__item_observatory {
        margin-left: 4.5px;

    }
}